header {
  background-color: rgba(255, 255, 255, 0.101);
  align-items: center;
  border-radius: 12px;
  padding: 1rem;
}

header h2 {
  font-size: 2rem;
}

header p {
  font-size: 0.8rem;
}

header a {
  display: block;
  font-size: 0.8rem;
  color: inherit;
  margin-block-end: 0.5rem;
  text-align: end;
}
